<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body> 
      <%- include('../partials/nav.ejs') %>
      <div class="container">
        <div class="row mt-3">
          <div class="col-lg-12 mb-5">
            <img src="/image_main.jpg"/>
          </div>
          <div class="col-lg-12">
            <h1 class=" m-5">Wszystkie książki</h1>
          </div>
          <% books.forEach(function(book) { %>
              <%- include('../partials/book.ejs' , {book}) %>
          <% }); %>
      </div>
      </div>

      <%- include('../partials/footer.ejs') %>
      <%- include('../partials/bootstrap.ejs') %>

</body>
</html>