 
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <%- include('../partials/head.ejs') %>
 </head>
 <body> 
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <%- include('../partials/cartSections') %>
      <div class="form-container mt-4">
          <form class=" row" action="/cart/finalization" method="POST">
            
            <!-- Sposób dostawy -->
            <div class="col-lg-12 bordered">
              <span class="heading-text">Sposób dostawy</span>
            </div>
            <div class="col-lg-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Metoda dostawy" id="pickup" value="Odbiór osobisty">
                <label class="form-check-label" for="pickup">Odbiór osobisty</label>
              </div>
            </div>
      
            <!-- Sposób płatności -->
            <div class="col-lg-12 bordered">
              <span class="heading-text">Sposób płatności</span>
            </div>
            <div class="col-lg-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="Metoda płatności" id="onDelivery" value="Płatność przy odbiorze">
                <label class="form-check-label" for="onDelivery">Płatność przy odbiorze</label>
              </div>
            </div>
            <div class="col-lg-12 bordered">
              <span class="heading-text">Dane do wysyłki</span>
            </div>
            <%- include('../partials/addressForm.ejs', {no_default : true}) %>
            
          </form>
        </div>
    </div>
   
      
    <%- include('../partials/bootstrap.ejs') %>
</body>